/* slide.scss */
.slide-inner {
    display: flex;
    flex-direction: column; /* На мобильных устройствах карта и таблица будут располагаться друг под другом */
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row; /* На больших экранах карта и таблица будут располагаться рядом */
    }

    .table {
        border: 2px solid #000;
        margin-bottom: 20px; /* Отступ между таблицей и картой */

        @media (min-width: 768px) {
            margin-right: 0px; /* Отступ справа для размещения рядом с картой */
        }
    }
}
